<footer>
  <p mt-10 text-xs op-30>
    <a class="mr-5"
      b-slate-link
      href="http://ccfgpt.cn" target="_blank"
    >
      Gemini Pro
    </a>
    <a class="mr-5"
      b-slate-link
      href="http://ccf666.cn" target="_blank"
    >
      ChatGPT-3.5-NextWeb
    </a>
    <a class="mr-5"
      b-slate-link
      href="http://chatpro.icu" target="_blank"
    >
      ChatGPT-4.0-NextWeb
    </a>
    <a class="mr-5"
      b-slate-link
      href="http://66.ccf666.cn" target="_blank"
    >
      ChatGPT-ALL-NextWeb
    </a>
    <a class="mr-5"
      b-slate-link
      href="http://6.ccf666.cn" target="_blank"
    >
      ChatGPT-3.5-16k
    </a>
    <a class="mr-5"
      b-slate-link
      href="http://6.supergpt.shop" target="_blank"
    >
      ChatGPT-Plugins
    </a>
    <a class="mr-5"
      b-slate-link
      href="http://6.chatpro.icu" target="_blank"
    >
      ChatGPT-4.0-32k
    </a>
    <a class="mr-5"
      b-slate-link
      href="http://6.ccfgpt.cn" target="_blank"
    >
      ChatGPT-3.5
    </a>
    <a
      b-slate-link
      href="http://supergpt.shop" target="_blank"
    >
      ChatGPT-Bot
    </a>
  </p>
</footer>
