<footer>
  <p mt-8 text-xs op-30>
    <a class="mr-5"
      b-slate-link
      href="https://ccf666.cn" target="_blank"
    >
      ChatGPT-3.5
    </a>
    <a class="mr-5"
      b-slate-link
      href="https://chatpro.icu" target="_blank"
    >
      ChatGPT-4.0
    </a>
    <a class="mr-5"
      b-slate-link
      href="https://ccfgpt.cn" target="_blank"
    >
      Gemini Pro
    </a>
    <a
      b-slate-link
      href="https://supergpt.shop" target="_blank"
    >
      ChatGPT-Bot
    </a>
  </p>
</footer>
